//// Base Colors
//$primary-color: #283149;
//$secondary-color: #404b69;
//$accent-color: #ff5e5b;
//$dark-color: #0d0c1d;
//$light-color: #f5f5f5;
//
//// Background Colors
//$body-bg-color: $dark-color;
//$navbar-bg-color: $primary-color;
//$calendar-bg-color: $secondary-color;
//$event-bg-color: $accent-color;
//
//// Text Colors
//$body-text-color: $light-color;
//$navbar-text-color: $light-color;
//$calendar-text-color: $light-color;
//$event-text-color: $light-color;
//
//// Border Colors
//$border-color: $secondary-color;
//$event-border-color: $accent-color;
//
//// Button Colors
//$button-bg-color: $accent-color;
//$button-text-color: $light-color;
//$button-hover-color: darken($accent-color, 10%);
//
//// Link Colors
//$link-color: $accent-color;
//$link-hover-color: darken($accent-color, 10%);

// Base Colors
// Base Colors
//$primary-color: #FE8535;
//$secondary-color: #FDB10B;
//$accent-color: #B20000;
//$dark-color: #0D0C1D;
//$light-color: #FEF4C0;
//
//// Background Colors
//$body-bg-color: $dark-color;
//$navbar-bg-color: $primary-color;
//$calendar-bg-color: $secondary-color;
//$event-bg-color: $accent-color;
//
//// Text Colors
//$body-text-color: $light-color;
//$navbar-text-color: $light-color;
//$calendar-text-color: $light-color;
//$event-text-color: $light-color;
//
//// Border Colors
//$border-color: $secondary-color;
//$event-border-color: $accent-color;
//
//// Button Colors
//$button-bg-color: $accent-color;
//$button-text-color: $light-color;
//$button-hover-color: darken($accent-color, 10%);
//
//// Link Colors
//$link-color: $accent-color;
//$link-hover-color: darken($accent-color, 10%);

//================================================================

//// Base Colors
//$primary-color: #3B8183;
//$secondary-color: #F5634A;
//$accent-color: #FF9C5B;
//$dark-color: #0D0C1D;
//$light-color: #FAD089;
//
//// Background Colors
//$body-bg-color: $dark-color;
//$navbar-bg-color: $primary-color;
//$calendar-bg-color: $secondary-color;
//$event-bg-color: $primary-color;
//
//// Text Colors
//$body-text-color: $light-color;
//$navbar-text-color: $light-color;
//$calendar-text-color: $light-color;
//$event-text-color: $light-color;
//
//// Border Colors
//$border-color: $secondary-color;
//$event-border-color: $accent-color;
//
//// Button Colors
//$button-bg-color: $primary-color;
//$button-text-color: $light-color;
//$button-hover-color: darken($accent-color, 10%);
//
//// Link Colors
//$link-color: $accent-color;
//$link-hover-color: darken($accent-color, 10%);

//=====================================================================
//// Base Colors
//$primary-color: #383D1F;
//$secondary-color: #2B4625;
//$accent-color: #5f6334;
//$dark-color: #0D0C1D;
//$light-color: #FEF4C0;
//
//// Background Colors
//$body-bg-color: $dark-color;
//$navbar-bg-color: $primary-color;
//$calendar-bg-color: $accent-color;
//$event-bg-color: $secondary-color;
//
//// Text Colors
//$body-text-color: $light-color;
//$navbar-text-color: $light-color;
//$calendar-text-color: $light-color;
//$event-text-color: $light-color;
//
//// Border Colors
//$border-color: $secondary-color;
//$event-border-color: $accent-color;
//
//// Button Colors
//$button-bg-color: $accent-color;
//$button-text-color: $light-color;
//$button-hover-color: darken($accent-color, 10%);
//
//// Link Colors
//$link-color: $accent-color;
//$link-hover-color: darken($accent-color, 10%);

//==================================================================
// Base Colors
//$primary-color: #044AAC;
//$secondary-color: #B6BCC6;
//$accent-color: rgba(251, 208, 51, 0.73);
//$dark-color: #0D0C1D;
//$light-color: #FFFFFF;
//
//// Background Colors
//$body-bg-color: $dark-color;
//$navbar-bg-color: $accent-color;
//$calendar-bg-color: $secondary-color;
//$event-bg-color: $accent-color;
//
//// Text Colors
//$body-text-color: $light-color;
//$navbar-text-color: $light-color;
//$calendar-text-color: $light-color;
//$event-text-color: $dark-color;
//
//// Border Colors
//$border-color: $secondary-color;
//$event-border-color: $accent-color;
//
//// Button Colors
//$button-bg-color: $primary-color;
//$button-text-color: $light-color;
//$button-hover-color: darken($primary-color, 10%);
//
//// Link Colors
//$link-color: $accent-color;
//$link-hover-color: darken($accent-color, 10%);

//========================================================
//// Base Colors
//$primary-color: #4DD7FF;
//$secondary-color: #AEFFF1;
//$accent-color: #32C3EE;
//$dark-color: #3B8FA1;
//$light-color: #FEF4C0;
//
//// Background Colors
//$body-bg-color: $dark-color;
//$navbar-bg-color: $primary-color;
//$calendar-bg-color: $secondary-color;
//$event-bg-color: $accent-color;
//
//// Text Colors
//$body-text-color: $light-color;
//$navbar-text-color: $light-color;
//$calendar-text-color: $light-color;
//$event-text-color: $light-color;
//
//// Border Colors
//$border-color: $secondary-color;
//$event-border-color: $accent-color;
//
//// Button Colors
//$button-bg-color: $accent-color;
//$button-text-color: $light-color;
//$button-hover-color: darken($accent-color, 10%);
//
//// Link Colors
//$link-color: $accent-color;
//$link-hover-color: darken($accent-color, 10%);
// Base Colors
$primary-color: #d95734;
$secondary-color: #ddcb93;
$accent-color: #1f2135;
$dark-color: #465484;
$light-color: #fef4c0;

// Background Colors
$body-bg-color: $dark-color;
$navbar-bg-color: $primary-color;
$calendar-bg-color: $secondary-color;
$event-bg-color: $accent-color;

// Text Colors
$body-text-color: $light-color;
$navbar-text-color: $light-color;
$calendar-text-color: $light-color;
$event-text-color: $light-color;

// Border Colors
$border-color: $secondary-color;
$event-border-color: $accent-color;

// Button Colors
$button-bg-color: $accent-color;
$button-text-color: $light-color;
$button-hover-color: darken($accent-color, 10%);

// Link Colors
$link-color: $accent-color;
$link-hover-color: darken($accent-color, 10%);
